@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-VariableFont_wght.ttf"),
         url("fonts/Raleway-Italic-VariableFont_wght.ttf");
    font-weight: 100 900;
}


/*GENERAL*/

body{
    margin: 0;   
    font-family: "Raleway", "Arial", "sans-serif";
    color: #000000;
    
}

main{
    margin: 0 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a{
    text-decoration: none;
    color: #000000;
} 

a:visited{
    color: #000000;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
    line-height: 1;
    
}

p{
    font-size: 14px;
}
/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px 50px 60px;

    
}

#logoBooki{
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
}

nav ul{
    display: flex;
    align-items: center;
    width: 20%;
    font-weight: 500; 
    font-size: 15px; 
     
}

.navLien{
    text-decoration: none;
    margin-left: 30px;
    padding: 0 20px;
    color: #000000;
   
}

.navLien:hover{
    color: #0065FC;
    border-top: 2px solid;
    padding-top: 30px;
    
}


/*SECTION RECHERCHE*/

.recherche{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 20px;   
}

.rechercheIcone{
   
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 45px;
    height: 50px;
    text-align: center;
}

#positionIcone{
    position: relative;
    top: 15px;
}

::placeholder{
    color: #000000;
    opacity: 1;
    font-family: "Raleway", "Arial", "sans-serif";
    font-size: 16px;
    
}

.rechercheForm{
    width: 230px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    padding-left: 20px;
}

.rechercheBouton{
    background-color: #0065FC;
    height: 50px;
    width: 120px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    font-family: "Raleway", "Arial", "sans-serif"; 
    border: hidden;
    cursor: pointer;
}



/*FILTRES*/

.filtres{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.boutonsFiltres{
    display: flex;
}

.filtres h2{
    font-size: 17px;
}

.bouton{
    padding: 12px 12px 12px 60px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-family: "Raleway", "Arial", "sans-serif"; 
    font-size: 17px;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    background-color: white;
    cursor: pointer;
    position: relative;
}

.bouton:hover{
    box-shadow: 2px 2px 10px #888888;
}


.filtreIcone{
    border: 1px solid #F2F2F2 ;
    border-radius: 50px;
    padding: 13px;
    margin-right: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    position: absolute;
    left: -2px;
    
    
}

.info{
    display: flex;
    align-items: center;
    margin: 15px 0 30px 10px;
}

.infoIcone{
    text-align: center;
    width: 20px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding: 3px;
    margin-right: 20px;
}

/*SECTION HEBERGEMENTS*/

#hebergements{
    display: flex;
    justify-content: space-between;
}

#conteneurHebergements{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 66%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 40px;
    margin-right: 60px; 
    
}

.conteneurCartes{
    display: flex;
    flex-wrap: wrap;
       
}

.cartesHebergements{
    
    flex-direction: column;
    justify-content: center;
    background-color: white;   
    margin: 15px 30px 15px 0;
    padding: 5px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    width: 29%;
    height: 220px;
}



.afficher{
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.imageHebergements{
    width: 100%;
    height: 65%;
    overflow: hidden;
    
    
}

.imageHebergements img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;    
}



.description{
    height: 35%;
    line-height: 0.2;
    margin-left: 10px;
}

.notation{
    display: flex;
    font-size: 11px;
    
    
}

.etoileBleue{
    color: #0065FC;
    margin-right: 3px;
    
}

.etoileGrise{
    color: #CFCFCF;
}

/*POPULAIRES*/

#conteneurPopulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 20px;
    
    
    
}

#titrePopulaire{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    
    
}

.descriptionPopulaire{
    height: 40%;
    margin-left: 20px;
    width: 40%;
    position: relative;
}

.notationPopulaire{
    display: flex;
    font-size: 11px;
    position: absolute;
    top: 130px;
}
.hebergementsPopulaires{
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.cartesPopulaire{
    display: flex;
    background-color: white;   
    margin: 20px;
    padding: 5px;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    height: 150px;
    width: 70%;

}

.imagePopulaires{
    width: 150px;
    height: 150px;
    overflow: hidden;
    

}
 .imagePopulaires img{
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


/*ACTIVITES*/

#activites{
    margin: 50px 0;
    
}

.conteneurActivites{
    display: flex;
}


.cartesActivites{
    box-shadow: 1px 1px 2px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px 20px 0;
    width: 25%;
    height: 500px;
    
}

.cartesColonne1{
    width: 25%;
    margin: 20px 50px 50px 0;
}

.cartesColonne2{
    width: 25%;
    margin: 20px 0px 50px 0;
}

.fortPomegues{
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    height: 300px;
    width: 100%;
}

.ilesFrioul{
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 160px;
}

.notreDame{
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 220px;
    margin-bottom: 40px;
    margin-right: 0;
}

.parcLongchamp{
    box-shadow: 1px 1px 5px #888888;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 240px;
}

.imageActivites{
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.imageActivites img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FOOTER*/

footer{
    display: flex;
    background-color: #F2F2F2;
    
}

footer div{
    margin: 30px 200px 50px 60px;
}

footer div h2{
    font-size: 18px;
}

.listeFooter{
    line-height: 2;
}

/*RESPONSIVE TABLETTE*/
@media all and (min-width: 768px) and (max-width: 992px){

}

/*RESPONSIVE MOBILE*/
@media screen and (max-width: 768px){
    
    body{
        width: auto;
    }

    main{
        margin: auto;
    }

    header{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }


    #logoBooki{
        margin: auto;
    }


    nav{
        width: 100%;
        margin: 30px 0;
        
    }

    nav ul{
        width: 100%;
    }

    nav ul li{
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
    }

    .navLien{
        width: 100%;
        text-align: center;
    }

    .navLien:hover{
        border-top: none ;
    }

    nav ul li:hover{
        color: #0065FC;
        
        border-bottom: 2px solid;
        padding-bottom: 10px;   
    }

    .trouvezHebergement{
        padding: 15px;
    }

    .filtres{
        flex-direction: column;
        align-items: flex-start;
        
    }

    .boutonsFiltres{
        display: flex;
        flex-wrap: wrap;
    }
    .bouton{
        
        margin: 0 15px 15px 0;
        font-size: 14px;
        padding: 12px 12px 12px 50px;

    }

    .rechercheBouton{
        display: none;
    }

    #hebergements{
        flex-direction: column-reverse;
    }

    #conteneurPopulaire{
        width: 100%;
    }

    #conteneurHebergements{
        width: 100%;
        padding: 15px;
        background-color: white;

    }

    
    .cartesHebergements{
        width: 100%;
        height: 210px;
        
    }

    #conteneurPopulaire{
        padding: 15px;
        width: auto;
        border-radius: 0;
    }

    #titrePopulaire{
        justify-content: space-between;
    }

    .cartesPopulaire{
        width: 100%;
    }

    #activites{
        padding: 15px;
        margin-top: 0;
    }
    .conteneurActivites{
        flex-direction: column;
    }

    .cartesActivites{
        width: 100%;
        height: 180px;
        
    }

    .cartesColonne1{
        width: 100%;
    }

    .fortPomegues{
        height: 180px;

    }

    .ilesFrioul{
        height: 180px;
    }

    .cartesColonne2{
        width: 100%;
    }

    .notreDame{
        height: 180px;
    }

    .parcLongchamp{
        height: 180px;
    }

    footer{
        flex-direction: column;
    }


}