@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-VariableFont_wght.ttf"),
         url("fonts/Raleway-Italic-VariableFont_wght.ttf");
    font-weight: 100 900;
}


body{
    width: 80%;    
    margin-left: 50px;
    font-family: "Raleway", "Arial", 'Times New Roman', "serif";
    color: black;
}
/*HEADER*/

header{
    display: flex;
    justify-content: space-between;

    
}

#logoBooki{
    height: 45px;
    padding-top: 40px;
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 20%;
    font-weight: 500;
}

nav a{
    text-decoration: none;
    margin-top: 0px;
    padding: 40px 20px 40px 20px;
}

#lienHebergements{
    border-top: 2px solid;
    
}

#lienActivites{
    color: black;
    padding-left: 60px;
}

/*SECTION RECHERCHE*/

.search{
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 10px;
    
}

.searchIcon{
    width: 50px;
    
    
}

::placeholder{
    color: black;
    opacity: 1;
}

.searchForm{
    width: 230px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: hidden;
}

.searchButton{
    background-color: #0065FC;
    height: 50px;
    width: 120px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    font-family: "Raleway", "Arial", 'Times New Roman', "serif"; 
    border: hidden;
}

.info{
    display: flex;
    align-items: center;
}

.infoIcon{
    width: 40px;
}

